@font-face {
    font-family: 'AftikaBold';
    src: url(/fonts/AftikaBold.ttf) format('truetype');
  }
  
  
  @font-face {
    font-family: 'Aftika';
    src: url(/fonts/AftikaBold.ttf) format('truetype');
  }